%div.bottom
  %h1= "Search Results for '#{@query}'"
  %head.order#container
    %span.order#options
      Order By:
      =link_to "Best Match", search_restaurants_path(order: 'best_match')
      =link_to "Name", search_restaurants_path(order: 'name')
      =link_to "Distance", search_restaurants_path(order: 'distance')
  %div.results_container
    -@restaurants.each do |r|
      %div.result
        %h3.result#title
          =link_to "#{r.name.titleize}", restaurant_path(r)
        %div.result#url
          %div= "#{r.url}"
        %div.result#cuisine
          %div= "#{r.cuisine}"
        %div.result#description
          %div= "#{r.description}"

=link_to "Back to Home Page", root_path
