%div.bottom
  %h1= "Search Results for '#{@query}'"
  %div.filter_container
    %div#header
    =form_for search_restaurants_path, method: :get do
      %span.filter_by#name
        %button{name: 'order_by_name', type: 'submit', action: @restaurants.order(:asc)}= "Name"
  %div.results_container
    -@restaurants.each do |r|
      %div.result
        %h3.result#title
          =link_to "#{r.name.titleize}", restaurant_path(r)
        %div.result#url
          %div= "#{r.url}"
        %div.result#cuisine
          %div= "#{r.cuisine}"
        %div.result#description
          %div= "#{r.description}"

=link_to "Back to Home Page", root_path
