=render partial:'search_bar', locals: {q: @query, allergens: @allergens, q_dist: @query_distance, q_type: @query_type, order: @query_order}
%div.bottom
  =@query_distance
  %h1= "Search Results for '#{@query}'"

  %div.results_container
    -@restaurants.each do |r|
      %div.result
        %h3.result#title
          =link_to "#{r.name.titleize}", restaurant_path(r)
        %div.result#url
          %div= "#{r.url}"
        %div.result#cuisine
          %div= "#{r.cuisine}"
        %div.result#description
          %div= "#{r.description}"

=link_to "Back to Home Page", root_path
