%p#notice= notice

-# = "#{@restaurant.name}"
-# ="#{@restaurant.url}"
-# ="#{@restaurant.address}"
-# ="#{@restaurant.menus}"
= link_to 'Edit', edit_restaurant_path(@restaurant)
\|
= link_to 'Back', restaurants_path
