<p id="notice"><%= notice %></p>
<%= "#{@restaurant.name}" %>
<br/>
<%= "#{@restaurant.url}" %>
<br/>
<%= "#{@restaurant.address}" %>
<br/>
<%= "#{@restaurant.menu}"%>
<br/>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
