<p id="notice"><%= notice %></p>
<%= "#{@restaurant.name}" %>
<br/>
<%= "#{@restaurant.url}" %>
<br/>
<%= "#{@restaurant.address}" %>
<br/>
<% @restaurant.foods.each do |food|%>
<%= "#{food.name}"%>
<br/>
<%= "#{food.description}"%>
<br/>
<% end %>
<br/>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
