%div.bottom_sign_in
  %h2 Create New Restaurant
  = form_for @restaurant, :method => :post do |f|
    - if @restaurant.errors.any?
      #error_explanation
        %h2= "#{pluralize(@restaurant.errors.count, "error")} prohibited this restaurant from being saved:"
        %ul
          - @restaurant.errors.full_messages.each do |message|
            %li= message
    %div.field
      %div= f.label :name, "Restaurant Name:"
      %div= f.text_field :name, :placeholder => "e.g. Restaurant Name", :type => "text", :min => 1
    %div.field
      %div= f.label :url, "Restaurant URL:"
      %div= f.text_field :url, :placeholder => "e.g. http://www.mydomainname.com/", type: "url"
    %div.field
      %div= f.label :address, "Restaurant Address:"
      %div= f.text_field :address, :placeholder => "e.g. 13 Oak Drive, Hamilton NY, 13346", type: "text"
    %div.field
      %div=f.label :cuisine, "Cuisine Type:"
      %div=f.select :cuisine, [["Indian","Indian"],["Asian","Asian"],["Mexican","Mexican"],["American","American"]], :prompt => true
    %div.field
      %div=f.label :image, "Image:"
      %div=f.file_field :image
    %div.field
      %div=f.label :description, "Description:"
      %div=f.text_area :description, size: "40x20"
    %div.actions
      = f.submit 'Create!'

  %hr
  = link_to 'Back to restaurants page', restaurants_path
  %br
