=render partial:'search_bar', locals: {q: @query, allergens: @allergens, q_dist: @query_distance, q_type: @query_type, order: @query_order}
%div.bottom
  %h2= "Search Results for '#{@query}'"
  %div.results_container.container
    -@restaurants.each do |r|
      %div.result.row
        %div.result.img-fluid.col-2#image
          = image_tag(r.image.url)
        %div.result.col-sm-3#title
          =link_to "#{r.name.titleize}", restaurant_path(r)
          %br
          %div.result#url
            ="#{r.url}"
        %div.result.col-sm-1#cuisine
          ="#{r.cuisine}"
        %div.result.col-sm#description
          =truncate("#{r.description}", length: 150)
  %hr
  =link_to "Back to Home Page", root_path
  %br
