%div.main.container
  %h3.header
    -if current_user && current_user.admin?
      =link_to "#{@restaurant.name}", edit_restaurant_path(@restaurant)
    -else
      ="#{@restaurant.name}"
  %div.row
    %div.img-fluid.col-4#image= image_tag(@restaurant.image.url)
    %div.details.col-6
      %div.u
        ="#{@restaurant.url}"
      %div.add
        ="#{@restaurant.address}"
      %div.c
        ="#{@restaurant.cuisine}"
      %div#r_description= @restaurant.description
  %hr
  %table
    -@foods.each do |f|
      -if current_user && current_user.admin?
        =link_to "#{f.name}", edit_restaurant_food_path(@restaurant.id, f.id), class: "name"
      -else
        %div.name
          ="#{f.name}"
      %span.acronyms
        -Food.get_allergen_Acr(f).each do |acronym|
          ="#{acronym} | "
      %div.description= "#{f.description}".capitalize
      %div.ingredients='Ingredients: '+ "#{f.ingredients.to_s.titleize}"
  %hr
  =link_to 'Back', restaurants_path
  %br
