%div.header= "#{@restaurant.name}"
%div.u
  ="#{@restaurant.url}"
%div.add
  ="#{@restaurant.address}"
%div.c
  ="#{@restaurant.cuisine}"
%table
  -@foods.each do |f|
    %div.name="#{f.name}"
    %div.description= "#{f.description}"
    %div.ingredients='Ingredients: '+ "#{f.ingredients.titleize}"

= link_to 'Back', restaurants_path
